<div class="footer">
  <div class="col text-center">
    <p>
      <%= link_to 'home', root_url %> |
      <%= link_to 'who', home_who_path %> |
      <%= link_to 'subscribe', home_subscribe_path %>
    </p>
    Brought to you by <a href="http://alex-web.gr/" target="_blank">alex-web.gr</a>
  </div>
</div>
