<div class="col">
  <h3>Who</h3>
  <p>
    My name is Alexandros and i work as a web application developer for a large corporation in London U.K.
    I have worked in various roles since 2006 and i have been involved in some really great projects
    from being one-man-show to working in large distributed teams across the globe.
  </p>
</div>
