body {
    background: #eaeaea;
    font-size: 12pt;
    font-family: Lucida, Helvetica, sans-serif;
}

input[type=submit] {
    cursor: pointer;
}

.comicWrapper {
    overflow: auto;
    margin: 10px 0;
}

h1, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

a:focus {
    outline: 0;
    text-decoration: none;
}

.favorited {
    color: goldenrod;
    fill: goldenrod;
}

/* Divider text for login form */
.divider-text {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    background: white;
    z-index: 1;
}

.divider-text:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #dee2e6;
    top: 50%;
    left: -110px;
}

.divider-text:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #dee2e6;
    top: 50%;
    right: -110px;
}
